<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>
    <title>Blog Post</title>
</head>
<body>

    <%- include('./partials/nav')  %>
   
    <%- include('./post') %>



    <%- include('./partials/scripts')  %>
</body>
</html>